python=3.4*
ipython=3.2.1
ipython-notebook=3.2.1
zeromq=4.0.5
pyzmq=14.7.0
numpy=1.9*
scikit-learn=0.16.1
scipy=0.16.0
numexpr=2.4.3
mongodb=2.4*
pymongo=2.8
pip
matplotlib=1.4*
r=3.2*
r-rcpp
r-foreach
r-iterators
r-plyr
r-reshape2
r-ggplot2
r-digest
r-latticeextra
r-stringi
r-zoo
r-coda
